<p>Your order was successful!</p>
<p>Total: £<%=@pizza.total%></p>
<p>Please call 0131 212 8900 to pay.</p>

<html>
    <head>
        <meta http-equiv="refresh" content="3;url=http://localhost:4567/pizzas" />
    </head>
    <body>
        <p>Redirecting in 3 seconds...</p>
    </body>
</html>
