<p>Your order has been updated!</p>
<p>Order: <%=@pizza.last_name%><%=@pizza.topping%></p>
<p>Please call 0131 212 8900 if you have any questions.</p>

<html>
    <head>
        <meta http-equiv="refresh" content="3;url=http://localhost:4567/pizzas" />
    </head>
    <body>
        <p>Redirecting in 3 seconds...</p>
    </body>
</html>
