<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/style.css" media="screen" />
  <title>Pizza Shop</title>
</head>
<body>
  <nav>
    <ul>
      <li>
        <a href='/pizzas'>Pizza Orders</a>
      </li>
      <li>
        <a href='/pizzas/new'>Make a New Order</a>
      </li>
    </ul>
  </nav>
  <%= yield %>
</body>
</html>
